@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


:root{
  --bkg: #fff	 ;
  --primary:#FFC300;
  --shade:#293238;
  --heading:5rem;
  --heading-color:#293238;
  --heading-color-light:#222223;
}

.theme-red {
  --bkg: #fff	 ;
  --primary:red;
  --shade:#293238;

}

.theme-gray-light{
  --bkg: #EEF7FF	 ;
  --primary:#7AB2B2;
  --shade:#293238;
}

.theme-gray-peach{
  --bkg: #FFF5E1	 ;
  --primary:#FF6969 ;
  --shade:#0C1844;
}

.theme-yellow-deep{
  --bkg: #fff	 ;
  --primary:#ffb703 ;
  --shade:#023047;
}
.theme-dark-green{
  --bkg: #ebf2fa	 ;
  --primary:#427aa1 ;
  --shade:#05668d;
}

.theme-blue {
  --bkg: #f0f8ff;
  --primary: #007acc;
  --shade: #333333;
}

.theme-green {
  --bkg: #f4fff4;
  --primary: #28a745;
  --shade: #343a40;
}

.theme-purple {
  --bkg: #f8f0ff;
  --primary: #6f42c1;
  --shade: #212529;
}

.theme-orange {
  --bkg: #fffaf0;
  --primary: #fd7e14;
  --shade: #343a40;
}

.theme-pink {
  --bkg: #fff0f6;
  --primary: #e83e8c;
  --shade: #212529;
}

.theme-teal {
  --bkg: #e6fffa;
  --primary: #20c997;
  --shade: #343a40;
}

.theme-brown {
  --bkg: #faf3f0;
  --primary: #795548;
  --shade: #212529;
}

.theme-cyan {
  --bkg: #e0ffff;
  --primary: #17a2b8;
  --shade: #333333;
}

.theme-lime {
  --bkg: #f9fff0;
  --primary: #cddc39;
  --shade: #343a40;
}

.theme-indigo {
  --bkg: #f0f5ff;
  --primary: #6610f2;
  --shade: #212529;
}

.theme-olive {
  --bkg: #f8f9f0;
  --primary: #808000;
  --shade: #343a40;
}



.theme-gold {
  --bkg: #fffaf0;
  --primary: #ffd700;
  --shade: #343a40;
}

.theme-silver {
  --bkg: #f9f9f9;
  --primary: #c0c0c0;
  --shade: #333333;
}

.theme-maroon {
  --bkg: #fff0f0;
  --primary: #800000;
  --shade: #343a40;
}


.theme-rose {
  --bkg: #fff0f5;
  --primary: #ff007f;
  --shade: #343a40;
}

/* love this */

.theme-mint {
  --bkg: #f0fff4;
  --primary: #3eb489;
  --shade: #212529;
}


::selection{
  color: var(--bkg);
  background: var(--primary);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color:var(--bkg) ;
  overflow-x: hidden;
  
  font-family: "Montserrat", sans-serif;
  color:var(--shade);
}

#__next{
  cursor: url('../public/cursor.png') 2 2, pointer;  
  position: relative;
  z-index: 1;
}

h1{
  margin: 0;
  color: var(--black);
  font-size: var(--heading);
  line-height: 1.2;
  font-weight: 900;
  text-transform: capitalize;
}

h1,h2,h3,h4,h5{
  color:var(--heading_color);
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h2,h3,h4,h5{
  color:var(--heading_color);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 1.8;
  font-family: "Bricolage Grotesque", sans-serif;
}

p{
  padding: 1em 0;
  display: block;
  line-height: 1.8;
  font-size: 1.9em;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2em;
}


@media (max-width: 768px) {
  h1{
  font-size: 3rem;
  }
}






