@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


:root{
  --bkg: #fff	 ;
  --primary:#FFC300;
  --shade:#293238;
  --heading:5rem;
  --heading-color:#293238;
  --heading-color-light:#222223;
}

.theme-red {
  --bkg: #fff	 ;
  --primary:red;
  --shade:#293238;

}

.theme-gray-light{
  --bkg: #EEF7FF	 ;
  --primary:#7AB2B2;
  --shade:#293238;
}

.theme-gray-peach{
  --bkg: #FFF5E1	 ;
  --primary:#FF6969 ;
  --shade:#0C1844;
}

.theme-yellow-deep{
  --bkg: #fff	 ;
  --primary:#ffb703 ;
  --shade:#023047;
}

::selection{
  color: var(--bkg);
  background: var(--primary);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color:var(--bkg) ;
  overflow-x: hidden;
  
  font-family: "Montserrat", sans-serif;
  color:var(--shade);
}

#__next{
  cursor: url('../public/cursor.png') 2 2, pointer;  
  position: relative;
  z-index: 1;
}

h1{
  margin: 0;
  color: var(--black);
  font-size: var(--heading);
  line-height: 1.2;
  font-weight: 900;
  text-transform: capitalize;
}

h1,h2,h3,h4,h5{
  color:var(--heading_color);
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h2,h3,h4,h5{
  color:var(--heading_color);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 1.8;
  font-family: "Bricolage Grotesque", sans-serif;
}

p{
  padding: 1em 0;
  display: block;
  line-height: 1.8;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2em;
}


@media (max-width: 768px) {
  h1{
  font-size: 3rem;
  }
}






