:root{
  --bkg:#fff;
  --primary:#2573fc;
  --black:#161616;
  --gray:#5f6b73;
  --heading:1.5em;
  --paragragh:1em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizespeed;
  font-weight: 400;
  color: var(--gray);
  background-color:var(--bkg) ;
  overflow-x: hidden;
  font-feature-settings: "kern";
  font-size: var(--paragragh);
  line-height: 1.5;



}

#__next{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin:0 auto;
  cursor: url('../public/cursor.png') 2 2, pointer;  
  position: relative;
  z-index: 1;


}

/* @media   (max-width:480px) {
  #__next{
    font-size: 1.1em;
  }
} */

p{
  padding: 1em 0;
  display: block;
  line-height: 1.5;
}

img{
  width:100%;
  display: block;
}

li{
  margin: 0 0 0 1em;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

h1,h2,h3{
  margin: 0;
  color: var(--black);
  font-size: var(--heading);
  line-height: 1.2;
  font-weight: 900;
  text-transform: capitalize;
}


a{
  color:var(--primary);
}



@font-face{
  font-family: 'Roboto';
  src:url('/font/Roboto/Roboto-Medium.ttf');
  font-weight:600;
  font-display:swap;
  font-style:normal;

}

@font-face{
  font-family: 'Roboto';
  src:url('/font/Roboto/Roboto-Regular.ttf');
  font-weight:400;
  font-display:swap;
  font-style:normal;

}
@font-face{
  font-family: 'Roboto';
  src:url('/font/Roboto/Roboto-Bold.ttf');
  font-weight:900;
  font-style:normal;
  font-display:swap;
}

