.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  /* background: var(--secondary); */
  border-bottom: 1px solid #d4d4d4;
  display:flex;
  flex-direction: row;
  
  align-items: center;
  padding-left:4em;
}

.logo {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  display: inline;
}

.main {
  width: 100%;
  /* padding: 40px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  background-image: url("../public/banner_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  padding:2em 0;

}

.heroContent {
  max-width: 50%;
  display: flex;
  text-align: left;
  align-items: left;
  flex-direction: column;
  margin:0 0 0 4em;
  
}

.tagline {
  /* display: block; */
  margin-bottom: 10px;
  max-width: 15rem;
  /* border-radius: 5px; */
  /* transition: all ease-in-out 2s; */
  /* background-color: var(--secondary); */
  font:12px;
  /* padding:4px 10px; */
  /* text-align: center; */
  font-weight: 600;
  /* border: 1px solid #000; */
  color:var(--primary);

}

.title {
  margin: 0;
  font-size: 56px;
  line-height: 1.3;
  font-weight: 1400;
  color:var(--heading_color);
}

.buttons {
  margin-top: 20px;
}

.button {
  padding: 12px 40px;
  margin: 0 10px;
  font-size: 18px;
  background-color: var(--secondary);
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  text-decoration: none;
  color:#fff;
  border-bottom: 1px solid #d4d4d4;


}

.button:nth-of-type(1){
  background-color: var(--secondary);
  background-image: none;
    border-width: 1px;
    border-color: var(--shade);
    border-radius: 70px;
    box-shadow: inset 0 20px 30px -14px var(--shade);

}

.button:nth-of-type(2){
  background-color: rgb(255, 0, 68);

}

.heroImage_con{
  padding:1em;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  
}
.heroImage {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;

  
  


}

.whyChooseUs {
  max-width: 800px;
  margin: 0 auto;
  padding:3em;
  text-align: left;
  margin: 3em 0;
  /* background-color: #fff; */
  border-radius: 10px;
  background-color: var(--secondary);


}

.whyChooseUs h2 {
  font-size: 36px;
  color:var(--heading_color);
}

.whyChooseUs p {
  margin: 20px 0;
  font-size: 18px;
}

.features {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
  align-items: center;
  
}

.feature {
  text-align: center;
}

.icon {
  font-size: 50px;
  /* color: #00a884; */
}

.feature h3 {
  margin-top: 10px;
  font-size: 20px;
}




@media screen and (max-width: 900px){
  .heroContent {
    max-width: 100%;
    display: flex;
    text-align: left;
    align-items: left;
    flex-direction: column;
    margin:0 0 0 1em;
    order:1;

  }

  .hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  background-image: url("../public/banner_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  flex-direction: column;
}
  .heroImage_con{
    padding:1em;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
  }
  .header {
 
    padding-left:1em;
  }
  
}



/* Styles for How AI Writer Works Section */
.howItWorks {
  width: 100%;
  padding: 40px 20px;
  /* background-color: #fff; */

  text-align: left;
  transition: background-color 0.3s, padding 0.3s;

}

.worksTitle {
  font-size: 28px;
  
  text-align: center;
}

.worksSubtitle {
  font-size: 14px;
  /* color: var(--primary); */
  text-align: center;
  font-weight: 900;
  margin-bottom: 40px;
}

.worksContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.worksImage {
  max-width: 45%;
  border-radius: 15px;
  margin-right: 20px;
}

.worksSteps {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step {
  display: flex;
  align-items: flex-start;
}

.stepNumber {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary);
  margin-right: 15px;
}

.stepText {
  max-width: 400px;
}

.stepText h3 {
  font-size: 18px;
  /* color: #333; */
  margin: 0 0 10px 0;
}

.stepText p {
  font-size: 16px;
  /* color: #666; */
  margin: 0 0 10px 0;
}

.getStarted {
  font-size: 16px;
  color: var(--primary);
  text-decoration: none;
}

.howItWorksButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}


/* Footer styles */
.footer {
  width: 100%;
  /* padding: 20px; */
  background-color: var(--secondary);
  /* color: #ecf0f1; */
  text-align: center;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;

}

.footer p {
  margin: 5px 0;
  font-size: 13px;
  font-weight: 400;
}



@media screen and (max-width: 900px){

  .worksSteps {
    max-width: 100%;
  
  }
}



/* Styles for Testimonial Section */
.testimonial {
  width: 100%;
  padding: 40px 20px;
  background-color: #111;
  /* color: #fff; */
  text-align: center;
  border-radius: 15px;
}

.testimonialTitle {
  font-size: 28px;
  /* color: #fff; */
  margin-bottom: 10px;
}

.testimonialSubtitle {
  font-size: 14px;
  color: #f87070;
  margin-bottom: 30px;
}

.testimonialContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #fff; */
  /* color: #333; */
  padding: 20px;
  border-radius: 15px;
}

.testimonialImage {
  max-width: 200px;
  border-radius: 15px;
  margin-right: 20px;
}

.testimonialText {
  flex: 1;
  text-align: left;
}

.testimonialText p {
  margin: 10px 0;
  font-size: 16px;
  /* color: #333; */
}

.testimonialNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navButton {
  padding: 10px;
  margin: 0 5px;
  font-size: 18px;
  /* color: #fff; */
  background-color: #333;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}



/* components/FAQ.module.css */
.faqSection {
  padding: 40px 20px;
  /* background-color: #f9f9f9; */
  text-align: center;
  background-color: var(--secondary);
  margin:5em 0em;
  border-radius: 10px;

}

.faqSection h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color:var(--heading_color);

}

.faqSection p {
  font-size: 18px;
  margin-bottom: 40px;
  /* color: #666; */
}

.faqContainer {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding:1em;
  
}

.faqItem {
  background-color: #fff;
  border: 1px solid var(--primary);
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faqQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  background-color: #f7f7f7;
}

.faqQuestion h3 {
  font-size: 18px;
  margin: 0;
}

.faqAnswer {
  padding: 15px 20px;
  background-color: #fff;
}

.faqAnswer p {
  margin: 0;
}

@media (max-width: 768px) {
  .faqSection h2 {
    font-size: 28px;

  }

  .faqSection p {
    font-size: 16px;
  }

  .faqQuestion h3 {
    font-size: 16px;
  }

  .faqAnswer {
    font-size: 14px;
  }
}
