.container{
  max-width: 100em;
  text-align:center;
}

.container_h1{
  text-align:center;
  font-variation-settings: "wght" 750;
  background-image: linear-gradient(90deg,#a5a8ff,#ff785d 50%,#e69cff);
  background-clip: text;
  font-family: Cabinetgrotesk Variable,sans-serif;
  font-size: 7rem;
  font-weight: 600;
  line-height: 7rem;
  -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 600px){

  
}


