.sections_container{
  min-height: 75vh;
  min-width:100%;
  display:flex;
  justify-content: center;
  position:relative;
}   


/*cta_container  */

.cta_container{
  background-color: #718e9f;
  color:#fff;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  flex-direction: row;

  

}