.container{

    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding:1em;
    max-width: 500px;


  
}


.container h1,
.container h2,
.container h3,
.container h4{
    padding: 1em 0;
}

.container a{
    text-decoration: underline;
}

.container ol{
    padding: 1em;
}