.sections_container{
  min-height: 75vh;
  min-width:100%;
  display:flex;
  justify-content: center;
  position:relative;
}   


/*cta_container  */

.cta_container{
  background-color: var(--gray);
  background-image: url('/img/img_2.jpeg');
  background-position:right;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 4px;
  flex-direction:column;
  width: 100%;
  margin:0 4em;
  padding: 4em;
  text-align: left;
  /* opacity: 40%; */
  /* background-blend-mode:luminosity ; */


}

.cta_container h1{
  font-size: 3.5em;
  font-weight: 900;
  color:var(--heading);
}

.cta_container p{
  font-size: 1.4em;
  font-weight: 600;
  
}

.blue{
  background-color: var(--primary);
  color:#fff;
  padding:0.5em  1em;
  border-radius: 5px;
  text-transform: capitalize;
  border: 3px solid transparent;
  transition: all 100ms ease-in;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 600;


}


.blue:hover{
  border: 3px solid var(--gray);

}

.services_container_ol{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap:10px;
  padding:0 4em;
  margin-top:4em;


}
.services_container_ol li{
  list-style: none;
  text-align: left;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 2px solid #000;
}

.services_container_ol li img{
  border-radius: 5px;
}


.services_container{
  padding: 3em;
  text-align: center;
 
}

.services_container h2{
  font-weight: 900;
  font-size: 2.5em;

}


.md{
  width:100%;
  padding:0 6em;
}

.services_listing{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 3em 1em;
  margin-left: 1em;
  text-transform: capitalize;
  /* background-color: rgb(240, 241, 241); */
}

.services_listing li{
  font-size: 2em;
}

.services_listing li::after{
  content: '.';
}

.services_container_ol h3{
  font-size:1.1em;
text-align: center;

}


@media screen and (max-width: 600px){

  .list_of_s{
    margin-top: 4em;
    padding: 1em 0 ;
    }

  .md{
    width:100%;
    padding:0 1em;
  }
  .services_container{
    padding: 1em;
    text-align: center;
    margin-top:4em;

  }
  .services_container_ol{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
    gap:10px;
    padding:0 1em;
  }


  .cta_container{
    margin:0;
    padding: 1em;

  
  
  }
  
  .cta_container h1{
    font-size: 2em;
    font-weight: 900;
    color:var(--heading);
  }
  
  .cta_container p{
    font-size: 1.2em;
    font-weight: 600;
    
  }

  .services_listing{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em ;
    margin-left: 0em;
    text-align: left;
    text-transform: capitalize;
  }
  
  .services_listing li{
    font-size: 1.5em;
    padding: 0.5em ;
  }
  
  
  
}



.card_card{
  border:1px solid rgb(223, 222, 222);
  padding:0.5em;
  border-radius: 4px;
  display:flex;
  flex-direction: column;
  width:auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card_card_parent{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration:none;
  color:var(--black);

}

.card_card_text{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.card_card_title{
  display:flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 1.3em;
  margin-top: 5px;

}

.card_card_price{
  display:flex;
  flex-direction: column;
  display: block;
  margin-bottom: 5px;

}

.card_card_price::before{
  content:'Rate:';
  margin-right:2px;
}


.card_card_cta{
    font-weight: 500;

    position: relative;
    display: inline-block;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0 30px;
    min-width: 44px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    transition: .25s linear;
    background: var(--primary);
    color: #fff;
}


.card_card_title_child{
  text-transform: capitalize;
}


.list_of_s{
/* padding: 1em 3em ; */
}



.services_listing{
  list-style-type: none;
  position: relative;

}
.services_listing li::before{
    content:'✔';
    margin-right: 5px;
}
/* 

.css.services_listing_1::before{
  list-style-image: url('/img/7648282.png');


} */

