
.container{
    width: 100%;
    padding:1em 3em;
    display:flex;
    align-items: center;
    justify-content: space-between;
width:1200px;
background-color: var(--shade);

}


.header {
    position: sticky;
    top: 0;
    width: 100%;
    font-weight: 600;
    z-index: 1000;
  }
  

  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav a:hover {
    color: #219653;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  
  /* Animation for the nav menu */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .navOpen {
    animation: slideIn 0.3s forwards;
  }
  
  .navClosed {
    animation: slideOut 0.3s forwards;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 4rem;
      right: 0;
      width: 100%;
      text-align: center;
      padding: 1rem;
    }
  
    .navOpen {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  }
  