.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-top: 2px solid rgb(220, 219, 219);
    padding: 3em 1em;
    background-color: var(--gray);
   


}

.main h2{
    font-size: 2em;
}

.form{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    min-width: 30rem;
}


.form label{
    display: block;
    margin: 14px 0 4px;
}

.form input{
    width: 100%;
    margin-right: 8px;
    border: 1px solid transparent;
    height: 40px;
    padding: 10px 16px;
    font-weight: 400;
    line-height: 28px;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    border-radius: 8px;
    outline: none;
    color: var(--dark);
}

.form textarea{
    width: 100%;
    margin-right: 8px;
    border: 1px solid transparent;
    height: 8em;
    padding: 10px 16px;
    font-weight: 400;
    line-height: 28px;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    border-radius: 8px;
    outline: none;
    color: var(--dark);
}


.form button{
    display: block;
    width: 100%;
    margin: 22px 0;
    color: #fff;

    height: 40px;
    padding: 10px 16px;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    border: none;
    border-radius: 8px;
    outline: none;
    background: var(--red);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

}


.phone{
    text-align: center;
    width: 100%;
    display: flex;
    border-radius: 4px;
    margin-top: 1em;
    border-radius: 8px;



    
}

.phone ::before{
    content:'Call Us:    '
}

.phone a{
    text-decoration: none;
    color:#fff;
    width:100%;
    padding:1em;
    background-color: var(--gray);
    border-radius: 8px;



}


@media screen and (max-width: 600px){
    .form{
        width:100%;
        padding:1em;
        min-width: 100%;

    }

    .main{
        margin-top:4.5em;

    }

}